zmodule romkatv/powerlevel10k --use degit
zmodule environment
zmodule zsh-users/zsh-completions
zmodule jeffreytse/zsh-vi-mode
zmodule completion
zmodule Bhupesh-V/ugit
zmodule Aloxaf/fzf-tab
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule olets/zsh-abbr
zmodule $ZPLUGINDIR/pnpm-shell-completion
zmodule $ZPLUGINDIR/utility
zmodule $ZPLUGINDIR/per-directory-history
